<table class="table table-sm table-fixed table-responsive">
    <thead>
        <tr class="redondeado">
            <th class="col-lg-8 col-md-8 col-xs-8 rounded-left">Grupos</th>
            <th class="col-lg-2 col-md-2 col-xs-2 text-center">Cola</th>
            <th class="col-lg-2 col-md-2 col-xs-2 text-center rounded-right">Vista</th>
        </tr>
    </thead>
    <tbody class="icpscroll" style="height:200px important!;">
        <tr resaltado>
            <td class="col-lg-8 col-md-8 col-xs-8">E_Seguro</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center">3</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
        </tr>
        <tr resaltado>
            <td class="col-lg-8 col-md-8 col-xs-8">E_Seguro</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center">3</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
        </tr>
        <tr resaltado>
            <td class="col-lg-8 col-md-8 col-xs-8">E_Seguro</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center">3</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
        </tr>
        <tr resaltado>
            <td class="col-lg-8 col-md-8 col-xs-8">E_Seguro</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center">3</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
        </tr>
        <tr resaltado>
            <td class="col-lg-8 col-md-8 col-xs-8">E_Seguro</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center">3</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
        </tr>
        <tr resaltado>
            <td class="col-lg-8 col-md-8 col-xs-8">E_Seguro</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center">3</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
        </tr>
        <tr resaltado>
            <td class="col-lg-8 col-md-8 col-xs-8">E_Seguro</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center">3</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
        </tr>
        <tr resaltado>
            <td class="col-lg-8 col-md-8 col-xs-8">E_Seguro</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center">3</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
        </tr>
        <tr resaltado>
            <td class="col-lg-8 col-md-8 col-xs-8">E_Seguro</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center">3</td>
            <td class="col-lg-2 col-md-2 col-xs-2 text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>
        </tr>
    </tbody>
</table>